Node-RED/backup/19-05.json
[{"id":"a32f6926.b02468","type":"tab","label":"Ruleset","disabled":false,"info":""},{"id":"3f33c000.4ad7b","type":"tab","label":"App Communication","disabled":false,"info":""},{"id":"7c3addde.32fb54","type":"tab","label":"Sensor Logging","disabled":false,"info":""},{"id":"19fcb35e.efe2dd","type":"tab","label":"Server Connection","disabled":false,"info":""},{"id":"9619cd24.5f6e3","type":"mqtt-broker","name":"Hub MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bc692b37.35d268","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"hubDB","tz":"","charset":"UTF8"},{"id":"19bd33aa.f47d5c","type":"tcp in","z":"3f33c000.4ad7b","name":"App Packets","server":"server","host":"","port":"4000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":190,"y":380,"wires":[["120507fa.b726a8"]]},{"id":"6e59d162.a762a","type":"comment","z":"3f33c000.4ad7b","name":"POST or GET","info":"0 -> POST\n1 -> GET","x":410,"y":300,"wires":[]},{"id":"d5693b67.2cbc08","type":"comment","z":"3f33c000.4ad7b","name":"Types of POST","info":"0 -> Activate actuator\n    byte[1] = actuator id\n    byte[2:n] -> message\n    \n1 -> Rules\n\n2 -> Peripherals","x":720,"y":220,"wires":[]},{"id":"120507fa.b726a8","type":"switch","z":"3f33c000.4ad7b","name":"POST or GET","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":380,"wires":[["b0b3e0ec.274ef"],[]]},{"id":"b0b3e0ec.274ef","type":"switch","z":"3f33c000.4ad7b","name":"POST handler","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":280,"wires":[["ef5c5273.c7fe4"],[]]},{"id":"4689cff.ab99f3","type":"mqtt out","z":"3f33c000.4ad7b","name":"Activate actuator","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":1190,"y":200,"wires":[]},{"id":"ef5c5273.c7fe4","type":"function","z":"3f33c000.4ad7b","name":"Buffer to MQTT","func":"msg.topic = \"/command/\" + msg.payload[2] + \"/state/\"\nmsg.payload = msg.payload.slice(3).toString()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":200,"wires":[["4689cff.ab99f3"]]},{"id":"d95c4b4b.4bd878","type":"mqtt in","z":"7c3addde.32fb54","name":"Sensor Data Receiver","topic":"/sensor/+/+/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":260,"y":300,"wires":[["4fef44a7.88055c"]]},{"id":"bb9fad8c.3cd88","type":"mysql","z":"7c3addde.32fb54","mydb":"bc692b37.35d268","name":"Insert in Database","x":870,"y":300,"wires":[[]]},{"id":"4fef44a7.88055c","type":"function","z":"7c3addde.32fb54","name":"Prepare query","func":"msg.topic = msg.topic.split('/')\nvar sensorID = msg.topic[2]\nvar parameter = msg.topic[3]\nvar value = msg.payload\nvar value_type = \"str\"\nvar date = Math.floor(Date.now()/1000)\nmsg.payload = null\n\nswitch(parameter){\n    case \"temperature\":\n        value_type = \"int\"\n        break;\n}\n\nmsg.topic = \"INSERT INTO sensor_data(sensorID,parameter,value_type,value,date) VALUES(\" + sensorID + \",'\" + parameter + \"','\" + value_type + \"','\" + value + \"',\" + date + \");\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":300,"wires":[["bb9fad8c.3cd88"]]},{"id":"16d2423d.0d62ee","type":"mqtt in","z":"a32f6926.b02468","name":"Sensor Data Receiver","topic":"/sensor/+/+/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":220,"y":320,"wires":[[]]}]