Node-RED/backup/20-05 2.json
[{"id":"a32f6926.b02468","type":"tab","label":"Ruleset","disabled":false,"info":""},{"id":"7ddb1f59.7b46","type":"tab","label":"App Communication REST","disabled":false,"info":""},{"id":"7c3addde.32fb54","type":"tab","label":"Sensor Logging","disabled":false,"info":""},{"id":"185c47b.27ac3b8","type":"tab","label":"Test Nodes","disabled":false,"info":""},{"id":"19fcb35e.efe2dd","type":"tab","label":"Server Connection (Legacy)","disabled":false,"info":""},{"id":"3f33c000.4ad7b","type":"tab","label":"App Communication (TCP)","disabled":false,"info":""},{"id":"9619cd24.5f6e3","type":"mqtt-broker","name":"Hub MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bc692b37.35d268","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"hubDB","tz":"","charset":"UTF8"},{"id":"19bd33aa.f47d5c","type":"tcp in","z":"3f33c000.4ad7b","name":"App Packets","server":"server","host":"","port":"4000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":190,"y":380,"wires":[["120507fa.b726a8"]]},{"id":"6e59d162.a762a","type":"comment","z":"3f33c000.4ad7b","name":"POST or GET","info":"0 -> POST\n1 -> GET","x":410,"y":300,"wires":[]},{"id":"d5693b67.2cbc08","type":"comment","z":"3f33c000.4ad7b","name":"Types of POST","info":"0 -> Activate actuator\n    byte[1] = actuator id\n    byte[2:n] -> message\n    \n1 -> Rules\n\n2 -> Peripherals","x":720,"y":220,"wires":[]},{"id":"120507fa.b726a8","type":"switch","z":"3f33c000.4ad7b","name":"POST or GET","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":380,"wires":[["b0b3e0ec.274ef"],["a128b6bf.9e76f8"]]},{"id":"b0b3e0ec.274ef","type":"switch","z":"3f33c000.4ad7b","name":"POST handler","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":280,"wires":[["ef5c5273.c7fe4"],[]]},{"id":"4689cff.ab99f3","type":"mqtt out","z":"3f33c000.4ad7b","name":"Activate actuator","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":1190,"y":200,"wires":[]},{"id":"ef5c5273.c7fe4","type":"function","z":"3f33c000.4ad7b","name":"Buffer to MQTT","func":"msg.topic = \"/command/\" + msg.payload[2] + \"/state/\"\nmsg.payload = msg.payload.slice(3).toString()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":200,"wires":[["4689cff.ab99f3"]]},{"id":"d95c4b4b.4bd878","type":"mqtt in","z":"7c3addde.32fb54","name":"Sensor Data Receiver","topic":"/sensor/+/+/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":260,"y":300,"wires":[["4fef44a7.88055c"]]},{"id":"bb9fad8c.3cd88","type":"mysql","z":"7c3addde.32fb54","mydb":"bc692b37.35d268","name":"Insert in Database","x":870,"y":300,"wires":[[]]},{"id":"4fef44a7.88055c","type":"function","z":"7c3addde.32fb54","name":"Prepare query","func":"msg.topic = msg.topic.split('/')\nvar sensorID = msg.topic[2]\nvar parameter = msg.topic[3]\nvar value = msg.payload\nvar value_type = \"str\"\nvar date = Math.floor(Date.now()/1000)\nmsg.payload = null\n\nswitch(parameter){\n    case \"temperature\":\n        value_type = \"int\"\n        break;\n}\n\nmsg.topic = \"INSERT INTO sensor_data(sensorID,parameter,value_type,value,date) VALUES(\" + sensorID + \",'\" + parameter + \"','\" + value_type + \"','\" + value + \"',\" + date + \");\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":300,"wires":[["bb9fad8c.3cd88"]]},{"id":"16d2423d.0d62ee","type":"mqtt in","z":"a32f6926.b02468","name":"Sensor Data Receiver","topic":"/sensor/+/+/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":220,"y":320,"wires":[["51902f3a.991a3"]]},{"id":"9aa0bd18.dc01f","type":"tcp in","z":"19fcb35e.efe2dd","d":true,"name":"Remote Access Server","server":"client","host":"20.68.171.3","port":"8080","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":290,"y":340,"wires":[["456608ed.9c0818"]]},{"id":"456608ed.9c0818","type":"switch","z":"19fcb35e.efe2dd","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":340,"wires":[["743bbf70.cd56b"],["b3cfa05f.4c234"]]},{"id":"743bbf70.cd56b","type":"random","z":"19fcb35e.efe2dd","name":"Generate random private number","low":1,"high":10,"inte":"true","property":"randomNum","x":780,"y":280,"wires":[["3a25cc80.618ef4"]]},{"id":"3a25cc80.618ef4","type":"function","z":"19fcb35e.efe2dd","name":"Key algorithm","func":"var numberReceived = 0\nvar i\nfor(i=0; i < 4; i++){\n    numberReceived += (msg.payload[i] << (i*8));\n}\n\nvar buffer = Buffer.alloc(4)\n\nvar numberToSend = (5**msg.randomNum) % 23;\n\nfor(i=0; i < 4; i++){\n    buffer[i] = ((numberToSend >> (i*8)) & 0xFF);\n}\n\nvar key = (numberReceived**msg.randomNum) % 23;\n\nglobal.set('key',key)\n\nmsg.payload = buffer\n\nmsg.key = key\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":180,"wires":[["16017695.f0e8b9","20823d29.abe1d2"]]},{"id":"16017695.f0e8b9","type":"tcp out","z":"19fcb35e.efe2dd","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Reply to server","x":1320,"y":180,"wires":[]},{"id":"20823d29.abe1d2","type":"function","z":"19fcb35e.efe2dd","name":"Send Hub Credentials","func":"var hubID = 2\nvar hubKey = 651589294\nvar buffer = Buffer.alloc(13)\nvar key = msg.key\nvar i\n\nbuffer[0] = 1\n\nfor(i=0; i < 4; i++){\n    buffer[i+1] = hubID >> ((3-i)*8) & 0xFF;\n}\n\nfor(i=0; i < 8; i++){\n    buffer[i+5] = hubKey >> ((7-i)*8) & 0xFF;\n}\n\nfor(i=0; i < 13; i++){\n    buffer[i] = buffer[i] ^ key;\n}\n\nmsg.payload = buffer;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":280,"wires":[["7cb1cd26.ce0264"]]},{"id":"7cb1cd26.ce0264","type":"tcp out","z":"19fcb35e.efe2dd","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Reply to server","x":1600,"y":280,"wires":[]},{"id":"b3cfa05f.4c234","type":"function","z":"19fcb35e.efe2dd","name":"Decrypt","func":"var i\nvar key = global.get('key')\n\nfor(i=0; i < msg.payload.length; i++){\n    msg.payload[i] = msg.payload[i] ^ key\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":420,"wires":[["865ded26.4b0c"]]},{"id":"865ded26.4b0c","type":"tcp request","z":"19fcb35e.efe2dd","server":"localhost","port":"4000","out":"time","splitc":"2000","name":"Send to Hub tcp port","x":950,"y":420,"wires":[["35c8e819.a1a318"]]},{"id":"73555f0e.c05e1","type":"tcp out","z":"19fcb35e.efe2dd","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"Answer back","x":1450,"y":420,"wires":[]},{"id":"a128b6bf.9e76f8","type":"switch","z":"3f33c000.4ad7b","name":"GET handler","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":420,"wires":[["3f53d499.c7b12c"]]},{"id":"2003a9fe.b97136","type":"comment","z":"3f33c000.4ad7b","name":"Types of GET","info":"","x":710,"y":360,"wires":[]},{"id":"3f53d499.c7b12c","type":"function","z":"3f33c000.4ad7b","name":"TESTE","func":"msg.payload = \"Hello, its me, Mario!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":420,"wires":[["186b7e69.646fe2"]]},{"id":"186b7e69.646fe2","type":"tcp out","z":"3f33c000.4ad7b","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"TESTE","x":1130,"y":420,"wires":[]},{"id":"35c8e819.a1a318","type":"function","z":"19fcb35e.efe2dd","name":"Encrypt","func":"var i\nvar key = global.get('key')\n\nfor(i=0; i < msg.payload.length; i++){\n    msg.payload[i] = msg.payload[i] ^ key\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":420,"wires":[["73555f0e.c05e1"]]},{"id":"51902f3a.991a3","type":"function","z":"a32f6926.b02468","name":"Check rules from sensorID and parameter","func":"msg.topic = msg.topic.split('/')\n\nflow.set('sensorID', msg.topic[2])\nflow.set('parameter', msg.topic[3])\nflow.set('value', msg.payload)\n\nmsg.topic = \"SELECT * FROM rules WHERE sensorID = \" + flow.get('sensorID') + \" AND parameter = '\" + flow.get('parameter') + \"';\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["7d795531.ad930c"]]},{"id":"7d795531.ad930c","type":"mysql","z":"a32f6926.b02468","mydb":"bc692b37.35d268","name":"Query Database","x":840,"y":320,"wires":[["49312d95.5c0f04"]]},{"id":"5290d710.2d7498","type":"mqtt out","z":"185c47b.27ac3b8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":620,"y":240,"wires":[]},{"id":"7ed81d99.88b434","type":"inject","z":"185c47b.27ac3b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":220,"y":240,"wires":[["41fcb0dc.26dc3"]]},{"id":"41fcb0dc.26dc3","type":"function","z":"185c47b.27ac3b8","name":"","func":"msg.topic = \"/sensor/1/temperature/\"\nmsg.payload = \"31\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["5290d710.2d7498"]]},{"id":"737c5c7f.ac2034","type":"comment","z":"185c47b.27ac3b8","name":"Sensor 1 temperature value: 31","info":"","x":290,"y":200,"wires":[]},{"id":"49312d95.5c0f04","type":"function","z":"a32f6926.b02468","name":"Process rule","func":"if(msg.payload.length > 1){\n    msg.nextpayload = msg.payload.slice(1)\n}else{\n    msg.nextpayload = null\n}\n\nif(msg.payload[0].value_type === \"str\"){\n    if(flow.get('value') === msg.payload[0].value){\n        msg.topic = \"/command/\" + msg.payload[0].actuator_id + \"/state/\"\n        msg.payload = msg.payload[0].message    \n    }else{\n        msg.payload = null\n    }\n}else{\n    var targetVal = parseInt(msg.payload[0].value)\n    var value = parseInt(flow.get('value'))\n    \n    if(msg.payload[0].type === \"higher\"){\n        if(value > targetVal){\n            msg.topic = \"/command/\" + msg.payload[0].actuator_id + \"/state/\"\n            msg.payload = msg.payload[0].message   \n        }else{\n            msg.payload = null\n        }\n    }else if(msg.payload[0].type === \"equal\"){\n        if(value === targetVal){\n            msg.topic = \"/command/\" + msg.payload[0].actuator_id + \"/state/\"\n            msg.payload = msg.payload[0].message   \n        }else{\n            msg.payload = null\n        }\n    }else{\n        if(value < targetVal){\n            msg.topic = \"/command/\" + msg.payload[0].actuator_id + \"/state/\"\n            msg.payload = msg.payload[0].message   \n        }else{\n            msg.payload = null\n        }\n    }\n}\n    \nreturn [msg,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":320,"wires":[["9b190de4.d6321"],["f4fbca08.d51408"]]},{"id":"9b2eecf9.87d5a","type":"mqtt in","z":"185c47b.27ac3b8","name":"","topic":"/command/3/state/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":830,"y":220,"wires":[["cbf4e600.88ab48"]]},{"id":"c692765f.227f08","type":"comment","z":"185c47b.27ac3b8","name":"Actuator 3 input","info":"","x":820,"y":180,"wires":[]},{"id":"cbf4e600.88ab48","type":"debug","z":"185c47b.27ac3b8","name":"Actuator 3 MQTT input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":220,"wires":[]},{"id":"e86a9492.204088","type":"mqtt out","z":"a32f6926.b02468","name":"Message actuator","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":1590,"y":320,"wires":[]},{"id":"a999e192.da5eb","type":"mqtt out","z":"185c47b.27ac3b8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":630,"y":340,"wires":[]},{"id":"cf041079.0f958","type":"inject","z":"185c47b.27ac3b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":210,"y":340,"wires":[["846695c6.724808"]]},{"id":"846695c6.724808","type":"function","z":"185c47b.27ac3b8","name":"","func":"msg.topic = \"/sensor/1/temperature/\"\nmsg.payload = \"29\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["a999e192.da5eb"]]},{"id":"61a02256.2364cc","type":"comment","z":"185c47b.27ac3b8","name":"Sensor 1 temperature value: 29","info":"","x":280,"y":300,"wires":[]},{"id":"f4fbca08.d51408","type":"function","z":"a32f6926.b02468","name":"Send next rule","func":"if(msg.nextpayload != undefined){\n    msg.payload = msg.nextpayload   \n}else{\n    msg = null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":400,"wires":[["49312d95.5c0f04"]]},{"id":"c476039a.d5f","type":"mqtt in","z":"185c47b.27ac3b8","name":"","topic":"/command/4/state/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":830,"y":340,"wires":[["b0f8b.af3820758"]]},{"id":"12acf26.aff390e","type":"comment","z":"185c47b.27ac3b8","name":"Actuator 4 input","info":"","x":820,"y":300,"wires":[]},{"id":"b0f8b.af3820758","type":"debug","z":"185c47b.27ac3b8","name":"Actuator 4 MQTT input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":340,"wires":[]},{"id":"9b190de4.d6321","type":"function","z":"a32f6926.b02468","name":"If payload is null -> msg = null","func":"if(msg.payload === null){\n    msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":320,"wires":[["e86a9492.204088"]]},{"id":"e24d23bc.4d4fb","type":"http in","z":"7ddb1f59.7b46","name":"/command POST","url":"/command","method":"post","upload":false,"swaggerDoc":"","x":370,"y":280,"wires":[["f89b1d29.68e36","31b88584.5fd7ea"]]},{"id":"f89b1d29.68e36","type":"json","z":"7ddb1f59.7b46","name":"Parse Request to JSON","property":"payload","action":"obj","pretty":false,"x":590,"y":280,"wires":[["b0988b2.287c878"]]},{"id":"9f78d384.233e8","type":"http request","z":"185c47b.27ac3b8","name":"Send POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/command","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":480,"wires":[[]]},{"id":"6e0c3e5e.a8ee5","type":"inject","z":"185c47b.27ac3b8","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":480,"wires":[["6a6ab72a.469878"]]},{"id":"6a6ab72a.469878","type":"function","z":"185c47b.27ac3b8","name":"Actuator 4 State = ON","func":"msg.payload = {\n    \"actuatorId\":\"4\",\n    \"message\":\"ON\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["9f78d384.233e8"]]},{"id":"c4d90aad.f4cb58","type":"mqtt out","z":"7ddb1f59.7b46","name":"MQTT Out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":1050,"y":280,"wires":[]},{"id":"b0988b2.287c878","type":"function","z":"7ddb1f59.7b46","name":"Convert to MQTT node","func":"msg.topic = \"/command/\" + msg.payload.actuatorId + \"/state/\"\nmsg.payload = msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":280,"wires":[["c4d90aad.f4cb58"]]},{"id":"d6e25.be5e61db8","type":"http response","z":"7ddb1f59.7b46","name":"","statusCode":"200","headers":{"Status":"200 OK"},"x":820,"y":200,"wires":[]},{"id":"31b88584.5fd7ea","type":"function","z":"7ddb1f59.7b46","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":200,"wires":[["d6e25.be5e61db8"]]},{"id":"24a5547.f6417ac","type":"comment","z":"185c47b.27ac3b8","name":"Activate actuator 4 via REST API","info":"","x":280,"y":440,"wires":[]},{"id":"aadb7e84.dd7fa","type":"http in","z":"7ddb1f59.7b46","name":"/sensor GET","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":350,"y":400,"wires":[[]]}]