Node-RED/backup/30-05.json
[{"id":"a32f6926.b02468","type":"tab","label":"Ruleset","disabled":false,"info":""},{"id":"7ddb1f59.7b46","type":"tab","label":"App Communication REST","disabled":false,"info":""},{"id":"7c3addde.32fb54","type":"tab","label":"Sensor Logging","disabled":false,"info":""},{"id":"1ca6f45d.30fc3c","type":"tab","label":"Register Peripherals","disabled":false,"info":""},{"id":"4bc74ed8.4249c","type":"tab","label":"UART Communication","disabled":false,"info":""},{"id":"185c47b.27ac3b8","type":"tab","label":"Test Nodes","disabled":false,"info":""},{"id":"9619cd24.5f6e3","type":"mqtt-broker","name":"Hub MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bc692b37.35d268","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"hubDB","tz":"","charset":"UTF8"},{"id":"33be1121.b615be","type":"JsonWebToken_config","name":"test","secret":"jdiansdoinasoidnasdnapisnd"},{"id":"e4ae3a05.9da458","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"uploaded_data","tz":"","charset":"UTF8"},{"id":"518d43d3.17ac4c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d95c4b4b.4bd878","type":"mqtt in","z":"7c3addde.32fb54","name":"Sensor Data Receiver","topic":"/sensor/+/+/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":260,"y":300,"wires":[["4fef44a7.88055c"]]},{"id":"bb9fad8c.3cd88","type":"mysql","z":"7c3addde.32fb54","mydb":"bc692b37.35d268","name":"Insert in Database","x":690,"y":300,"wires":[[]]},{"id":"4fef44a7.88055c","type":"function","z":"7c3addde.32fb54","name":"Prepare query","func":"msg.topic = msg.topic.split('/')\nvar sensorID = msg.topic[2]\nvar parameter = msg.topic[3]\nvar value = msg.payload\nvar value_type = \"str\"\nvar date = Math.floor(Date.now()/1000)\nmsg.payload = null\n\nswitch(parameter){\n    case \"temperature\":\n        value_type = \"int\"\n        break;\n}\n\nmsg.topic = \"INSERT INTO sensor_data(peripheralID,parameter,value_type,value,date) VALUES(\" + sensorID + \",'\" + parameter + \"','\" + value_type + \"','\" + value + \"',\" + date + \");\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":300,"wires":[["bb9fad8c.3cd88"]]},{"id":"16d2423d.0d62ee","type":"mqtt in","z":"a32f6926.b02468","name":"Sensor Data Receiver","topic":"/sensor/+/+/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":220,"y":320,"wires":[["51902f3a.991a3"]]},{"id":"51902f3a.991a3","type":"function","z":"a32f6926.b02468","name":"Check rules from sensorID and parameter","func":"msg.topic = msg.topic.split('/')\n\nflow.set('sensorID', msg.topic[2])\nflow.set('parameter', msg.topic[3])\nflow.set('value', msg.payload)\n\nmsg.topic = \"SELECT * FROM rules WHERE peripheralID_sensor = \" + flow.get('sensorID') + \" AND parameter = '\" + flow.get('parameter') + \"';\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["7d795531.ad930c"]]},{"id":"7d795531.ad930c","type":"mysql","z":"a32f6926.b02468","mydb":"bc692b37.35d268","name":"Query Database","x":840,"y":320,"wires":[["49312d95.5c0f04"]]},{"id":"5290d710.2d7498","type":"mqtt out","z":"185c47b.27ac3b8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":610,"y":320,"wires":[]},{"id":"7ed81d99.88b434","type":"inject","z":"185c47b.27ac3b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":210,"y":320,"wires":[["41fcb0dc.26dc3"]]},{"id":"41fcb0dc.26dc3","type":"function","z":"185c47b.27ac3b8","name":"","func":"msg.topic = \"/sensor/5/temperature/\"\nmsg.payload = \"31\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["5290d710.2d7498"]]},{"id":"737c5c7f.ac2034","type":"comment","z":"185c47b.27ac3b8","name":"Sensor 1 temperature value: 31","info":"","x":280,"y":280,"wires":[]},{"id":"49312d95.5c0f04","type":"function","z":"a32f6926.b02468","name":"Process rule","func":"if(msg.payload.length > 1){\n    msg.nextpayload = msg.payload.slice(1)\n}else{\n    msg.nextpayload = null\n}\n\nif(msg.payload[0].value_type === \"str\"){\n    if(flow.get('value') === msg.payload[0].value){\n        msg.topic = \"/command/\" + msg.payload[0].peripheralID_actuator + \"/state/\"\n        msg.payload = msg.payload[0].message    \n    }else{\n        msg.payload = null\n    }\n}else{\n    var targetVal = parseInt(msg.payload[0].value)\n    var value = parseInt(flow.get('value'))\n    \n    if(msg.payload[0].type === \"higher\"){\n        if(value > targetVal){\n            msg.topic = \"/command/\" + msg.payload[0].peripheralID_actuator + \"/state/\"\n            msg.payload = msg.payload[0].message   \n        }else{\n            msg.payload = null\n        }\n    }else if(msg.payload[0].type === \"equal\"){\n        if(value === targetVal){\n            msg.topic = \"/command/\" + msg.payload[0].peripheralID_actuator + \"/state/\"\n            msg.payload = msg.payload[0].message   \n        }else{\n            msg.payload = null\n        }\n    }else{\n        if(value < targetVal){\n            msg.topic = \"/command/\" + msg.payload[0].peripheralID_actuator + \"/state/\"\n            msg.payload = msg.payload[0].message   \n        }else{\n            msg.payload = null\n        }\n    }\n}\n    \nreturn [msg,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":320,"wires":[["9b190de4.d6321"],["f4fbca08.d51408"]]},{"id":"9b2eecf9.87d5a","type":"mqtt in","z":"185c47b.27ac3b8","name":"","topic":"/command/6/state/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":230,"y":100,"wires":[["cbf4e600.88ab48"]]},{"id":"c692765f.227f08","type":"comment","z":"185c47b.27ac3b8","name":"Actuator 3 input","info":"","x":220,"y":60,"wires":[]},{"id":"cbf4e600.88ab48","type":"debug","z":"185c47b.27ac3b8","name":"Actuator 3 MQTT input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":100,"wires":[]},{"id":"e86a9492.204088","type":"mqtt out","z":"a32f6926.b02468","name":"Message actuator","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":1590,"y":320,"wires":[]},{"id":"a999e192.da5eb","type":"mqtt out","z":"185c47b.27ac3b8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":620,"y":420,"wires":[]},{"id":"cf041079.0f958","type":"inject","z":"185c47b.27ac3b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":200,"y":420,"wires":[["846695c6.724808"]]},{"id":"846695c6.724808","type":"function","z":"185c47b.27ac3b8","name":"","func":"msg.topic = \"/sensor/1/temperature/\"\nmsg.payload = \"29\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":420,"wires":[["a999e192.da5eb"]]},{"id":"61a02256.2364cc","type":"comment","z":"185c47b.27ac3b8","name":"Sensor 1 temperature value: 29","info":"","x":270,"y":380,"wires":[]},{"id":"f4fbca08.d51408","type":"function","z":"a32f6926.b02468","name":"Send next rule","func":"if(msg.nextpayload != undefined){\n    msg.payload = msg.nextpayload   \n}else{\n    msg = null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":400,"wires":[["49312d95.5c0f04"]]},{"id":"c476039a.d5f","type":"mqtt in","z":"185c47b.27ac3b8","name":"","topic":"/command/4/state/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":230,"y":220,"wires":[["b0f8b.af3820758"]]},{"id":"12acf26.aff390e","type":"comment","z":"185c47b.27ac3b8","name":"Actuator 4 input","info":"","x":220,"y":180,"wires":[]},{"id":"b0f8b.af3820758","type":"debug","z":"185c47b.27ac3b8","name":"Actuator 4 MQTT input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":220,"wires":[]},{"id":"9b190de4.d6321","type":"function","z":"a32f6926.b02468","name":"If payload is null -> msg = null","func":"if(msg.payload === null){\n    msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":320,"wires":[["e86a9492.204088"]]},{"id":"e24d23bc.4d4fb","type":"http in","z":"7ddb1f59.7b46","name":"/command POST","url":"/command","method":"post","upload":false,"swaggerDoc":"","x":360,"y":340,"wires":[["f89b1d29.68e36"]]},{"id":"f89b1d29.68e36","type":"json","z":"7ddb1f59.7b46","name":"Parse Get to JSON","property":"payload","action":"obj","pretty":false,"x":560,"y":340,"wires":[["b0988b2.287c878"]]},{"id":"c4d90aad.f4cb58","type":"mqtt out","z":"7ddb1f59.7b46","name":"MQTT Out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":1040,"y":340,"wires":[]},{"id":"b0988b2.287c878","type":"function","z":"7ddb1f59.7b46","name":"Convert to MQTT node","func":"msg.topic = \"/command/\" + msg.payload.actuatorId + \"/state/\"\nmsg.payload = msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":340,"wires":[["c4d90aad.f4cb58","31b88584.5fd7ea"]]},{"id":"d6e25.be5e61db8","type":"http response","z":"7ddb1f59.7b46","name":"","statusCode":"200","headers":{"Status":"200 OK"},"x":1400,"y":340,"wires":[]},{"id":"31b88584.5fd7ea","type":"function","z":"7ddb1f59.7b46","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":340,"wires":[["d6e25.be5e61db8"]]},{"id":"aadb7e84.dd7fa","type":"http in","z":"7ddb1f59.7b46","name":"/peripherals GET","url":"/peripherals","method":"get","upload":false,"swaggerDoc":"","x":360,"y":400,"wires":[["4871b772.02faa8"]]},{"id":"c92a64f8.4b7ae8","type":"tcp in","z":"1ca6f45d.30fc3c","name":"Register Peripheral","server":"server","host":"","port":"4001","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":310,"y":280,"wires":[["50242660.45f038","4f8a59e9.b0efe8"]]},{"id":"50242660.45f038","type":"json","z":"1ca6f45d.30fc3c","name":"Convert to object","property":"payload","action":"obj","pretty":false,"x":530,"y":280,"wires":[["903383e4.b2a21"]]},{"id":"7aba87d1.55d728","type":"function","z":"1ca6f45d.30fc3c","name":"JSON to Query","func":"msg.payload = flow.get('data')\nif(msg.payload.sensorID != null){\n    if(msg.payload.is_mesh != null){\n        msg.topic = \"INSERT INTO peripherals(peripheralID,type,parameters,mac_address,is_mesh) VALUES(\" + msg.payload.sensorID + \",'\" + msg.payload.type + \"',\" + '\"' + msg.payload.parameters + '\",\"' + msg.payload.mac_address + '\",1);'\n    }else{\n        msg.topic = \"INSERT INTO peripherals(peripheralID,type,parameters,mac_address) VALUES(\" + msg.payload.sensorID + \",'\" + msg.payload.type + \"',\" + '\"' + msg.payload.parameters + '\",\"' + msg.payload.mac_address + '\");'    \n    }\n}else{\n    if(msg.payload.is_mesh != null){\n        msg.topic = \"INSERT INTO peripherals(type,parameters,mac_address,is_mesh) VALUES('\" + msg.payload.type + \"',\" + '\"' + msg.payload.parameters + '\",\"' + msg.payload.mac_address + '\",1);'   \n    }else{\n        msg.topic = \"INSERT INTO peripherals(type,parameters,mac_address) VALUES(\" + msg.payload.type + \"',\" + '\"' + msg.payload.parameters + '\",\"' + msg.payload.mac_address + '\");'\n    }\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":280,"wires":[["769af26e.6521ac"]]},{"id":"769af26e.6521ac","type":"mysql","z":"1ca6f45d.30fc3c","mydb":"bc692b37.35d268","name":"Insert peripheral database","x":1570,"y":280,"wires":[["13e8c0aa.86435f"]]},{"id":"bd80fe16.eb9f5","type":"inject","z":"185c47b.27ac3b8","name":"inject","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensorID\":\"8\",\"type\":\"actuator\",\"parameters\":\"['state']\",\"mac_address\":\"AA:AA:AA:AA:AA:AA\"}","payloadType":"json","x":210,"y":520,"wires":[["f35ba96d.517e08"]]},{"id":"1d05838a.87fe4c","type":"comment","z":"185c47b.27ac3b8","name":"Register sensor 5 ","info":"","x":240,"y":480,"wires":[]},{"id":"f35ba96d.517e08","type":"json","z":"185c47b.27ac3b8","name":"To String","property":"payload","action":"str","pretty":false,"x":370,"y":520,"wires":[["920491c2.aa015"]]},{"id":"920491c2.aa015","type":"tcp request","z":"185c47b.27ac3b8","server":"localhost","port":"4001","out":"time","splitc":"1000","name":"Return sensorID","x":550,"y":520,"wires":[["cdd3fb43.e93948"]]},{"id":"345ece91.5499a2","type":"debug","z":"185c47b.27ac3b8","name":"Print sensorID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":520,"wires":[]},{"id":"5e1139b0.d70818","type":"tcp out","z":"1ca6f45d.30fc3c","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":1970,"y":280,"wires":[]},{"id":"13e8c0aa.86435f","type":"function","z":"1ca6f45d.30fc3c","name":"Parse Int","func":"msg.payload = parseInt(msg.payload.insertId)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":280,"wires":[["5e1139b0.d70818"]]},{"id":"cdd3fb43.e93948","type":"function","z":"185c47b.27ac3b8","name":"Parse Int","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":520,"wires":[["345ece91.5499a2"]]},{"id":"4871b772.02faa8","type":"function","z":"7ddb1f59.7b46","name":"Query","func":"msg.topic = \"SELECT * FROM peripherals;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":400,"wires":[["a09c008b.a9893"]]},{"id":"a09c008b.a9893","type":"mysql","z":"7ddb1f59.7b46","mydb":"bc692b37.35d268","name":"","x":730,"y":400,"wires":[["ab55360.87ca5c8"]]},{"id":"ab55360.87ca5c8","type":"http response","z":"7ddb1f59.7b46","name":"","statusCode":"200","headers":{"Status":"200 OK"},"x":1120,"y":400,"wires":[]},{"id":"4fdcf781.3e7568","type":"inject","z":"185c47b.27ac3b8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":660,"wires":[["b60c262c.8f7858"]]},{"id":"b60c262c.8f7858","type":"http request","z":"185c47b.27ac3b8","name":"Peripherals GET","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/peripherals","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":660,"wires":[["a3a21940.1b7ab8"]]},{"id":"a3a21940.1b7ab8","type":"debug","z":"185c47b.27ac3b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":660,"wires":[]},{"id":"4eba287.2a00bd8","type":"comment","z":"185c47b.27ac3b8","name":"Get peripherals","info":"","x":240,"y":620,"wires":[]},{"id":"22666dc9.e2d502","type":"inject","z":"185c47b.27ac3b8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":760,"wires":[["7a86ab86.0d3f94"]]},{"id":"7a86ab86.0d3f94","type":"http request","z":"185c47b.27ac3b8","name":"Rules GET","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/rules","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":760,"wires":[["ff39f18a.91726"]]},{"id":"ff39f18a.91726","type":"debug","z":"185c47b.27ac3b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":760,"wires":[]},{"id":"84756804.106c68","type":"comment","z":"185c47b.27ac3b8","name":"Get rules","info":"","x":220,"y":720,"wires":[]},{"id":"a4ad1b2e.72cbf8","type":"http in","z":"7ddb1f59.7b46","name":"/rules GET","url":"/rules","method":"get","upload":false,"swaggerDoc":"","x":340,"y":460,"wires":[["c21891f4.7f3cf"]]},{"id":"c21891f4.7f3cf","type":"function","z":"7ddb1f59.7b46","name":"Query","func":"msg.topic = \"SELECT * FROM rules;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":460,"wires":[["868591c0.d9cb5"]]},{"id":"868591c0.d9cb5","type":"mysql","z":"7ddb1f59.7b46","mydb":"bc692b37.35d268","name":"","x":730,"y":460,"wires":[["4dff4413.76cd4c"]]},{"id":"4dff4413.76cd4c","type":"http response","z":"7ddb1f59.7b46","name":"","statusCode":"200","headers":{"Status":"200 OK"},"x":920,"y":460,"wires":[]},{"id":"99667edc.cf007","type":"http in","z":"7ddb1f59.7b46","name":"/rules/remove POST","url":"/rules/remove","method":"post","upload":false,"swaggerDoc":"","x":370,"y":520,"wires":[["fb2b13a8.d6a2"]]},{"id":"2b1cba21.c05fc6","type":"function","z":"7ddb1f59.7b46","name":"Query","func":"msg.topic = \"DELETE FROM rules WHERE ruleID = \" + msg.payload.ruleID + \";\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":520,"wires":[["1dbb373a.3d6af9"]]},{"id":"fb2b13a8.d6a2","type":"json","z":"7ddb1f59.7b46","name":"Parse POST to JSON","property":"payload","action":"obj","pretty":false,"x":600,"y":520,"wires":[["2b1cba21.c05fc6"]]},{"id":"1dbb373a.3d6af9","type":"mysql","z":"7ddb1f59.7b46","mydb":"bc692b37.35d268","name":"","x":950,"y":520,"wires":[["44ccb6f8.a78b78"]]},{"id":"e3823be5.e96fb8","type":"http response","z":"7ddb1f59.7b46","name":"","statusCode":"200","headers":{"Status":"200 OK"},"x":1360,"y":520,"wires":[]},{"id":"21a8c697.f28cfa","type":"inject","z":"185c47b.27ac3b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ruleID\":3}","payloadType":"json","x":220,"y":860,"wires":[["496e55b0.765bbc"]]},{"id":"496e55b0.765bbc","type":"http request","z":"185c47b.27ac3b8","name":"Rule remove POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/rules/remove","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":860,"wires":[[]]},{"id":"751522d5.a85c8c","type":"comment","z":"185c47b.27ac3b8","name":"Remove rule","info":"","x":230,"y":820,"wires":[]},{"id":"44ccb6f8.a78b78","type":"function","z":"7ddb1f59.7b46","name":"Set payload to null","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":520,"wires":[["e3823be5.e96fb8"]]},{"id":"6ab11f74.b78f3","type":"http in","z":"7ddb1f59.7b46","name":"/rules/add POST","url":"/rules/add","method":"post","upload":false,"swaggerDoc":"","x":360,"y":580,"wires":[["8afe566a.56c988"]]},{"id":"d4bff5de.8b76d8","type":"function","z":"7ddb1f59.7b46","name":"Query","func":"msg.topic = \"INSERT INTO rules(peripheralID_sensor,parameter,value_type,type,value,peripheralID_actuator,message) VALUES(\" + msg.payload.peripheralID_sensor + \",'\" + msg.payload.parameter + \"','\" + msg.payload.value_type + \"','\" + msg.payload.type + \"','\" + msg.payload.value + \"',\" + msg.payload.peripheralID_actuator + \",'\" + msg.payload.message + \"');\" \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":580,"wires":[["685cf610.306f78"]]},{"id":"8afe566a.56c988","type":"json","z":"7ddb1f59.7b46","name":"Parse POST to JSON","property":"payload","action":"obj","pretty":false,"x":600,"y":580,"wires":[["d4bff5de.8b76d8"]]},{"id":"685cf610.306f78","type":"mysql","z":"7ddb1f59.7b46","mydb":"bc692b37.35d268","name":"","x":950,"y":580,"wires":[["ae0a937d.e7ec7"]]},{"id":"789c9689.7545c8","type":"http response","z":"7ddb1f59.7b46","name":"","statusCode":"200","headers":{"Status":"200 OK"},"x":1320,"y":580,"wires":[]},{"id":"ae0a937d.e7ec7","type":"function","z":"7ddb1f59.7b46","name":"Set payload to null","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":580,"wires":[["789c9689.7545c8"]]},{"id":"56ba969a.7c2018","type":"inject","z":"185c47b.27ac3b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"peripheralID_sensor\":5,\"parameter\":\"temperature\",\"value_type\":\"int\",\"type\":\"higher\",\"value\":\"30\",\"peripheralID_actuator\":6,\"message\":\"ON\"}","payloadType":"json","x":210,"y":960,"wires":[["a6208788.2c2648"]]},{"id":"a6208788.2c2648","type":"http request","z":"185c47b.27ac3b8","name":"Rule add POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/rules/add","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":960,"wires":[[]]},{"id":"ea3a346f.ff2dc8","type":"comment","z":"185c47b.27ac3b8","name":"Add rule","info":"","x":220,"y":920,"wires":[]},{"id":"1ae67b04.bdf9d5","type":"http in","z":"7ddb1f59.7b46","name":"/csv/import POST","url":"/csv/import","method":"post","upload":false,"swaggerDoc":"","x":360,"y":640,"wires":[["88abda7f.d7aff8"]]},{"id":"88abda7f.d7aff8","type":"csv","z":"7ddb1f59.7b46","name":"Parse CSV","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":570,"y":640,"wires":[["5f25a98.31d2458"]]},{"id":"5f25a98.31d2458","type":"function","z":"7ddb1f59.7b46","name":"Create table if not existent ","func":"msg.topic = \"CREATE TABLE IF NOT EXISTS \" + msg.req.headers.name + \"(date int primary key not null,value int not null);\"\nmsg.csvdata = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":640,"wires":[["68fdd304.68872c"]]},{"id":"68fdd304.68872c","type":"mysql","z":"7ddb1f59.7b46","mydb":"e4ae3a05.9da458","name":"","x":1020,"y":640,"wires":[["2a212f10.d9f97"]]},{"id":"2a212f10.d9f97","type":"function","z":"7ddb1f59.7b46","name":"","func":"var i\nmsg.topic = \"REPLACE INTO \" + msg.req.headers.name + \"(date,value) VALUES \"\n\nfor(i=0;i < msg.csvdata.length;i++){\n    if(i != 0){\n        msg.topic = msg.topic + \",\"\n    }\n    \n    msg.topic = msg.topic + \"(\" + msg.csvdata[i].date + \",\" + msg.csvdata[i].value + \")\"\n}\n\nmsg.topic = msg.topic + \";\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":640,"wires":[["4ed839e3.911af8"]]},{"id":"276dad8.eb7e052","type":"inject","z":"185c47b.27ac3b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1,2     3 ,4     5,6     7,8    ","payloadType":"str","x":210,"y":1060,"wires":[["13e12ab.86f22d5"]]},{"id":"560cfa76.373244","type":"http request","z":"185c47b.27ac3b8","name":"Csv Import POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/csv/import","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":1060,"wires":[[]]},{"id":"13e12ab.86f22d5","type":"template","z":"185c47b.27ac3b8","name":"CSV Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"date,value\n1621604695,27\n1621604696,36\n1621604697,34\n1621604698,70","output":"str","x":350,"y":1060,"wires":[["dbcd971a.22db18"]]},{"id":"dbcd971a.22db18","type":"function","z":"185c47b.27ac3b8","name":"Insert data name into header","func":"msg.headers = {}\nmsg.headers[\"name\"] = \"consumo\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1060,"wires":[["560cfa76.373244"]]},{"id":"64b9297d.30c9d8","type":"comment","z":"185c47b.27ac3b8","name":"Upload csv data","info":"","x":240,"y":1020,"wires":[]},{"id":"4ed839e3.911af8","type":"mysql","z":"7ddb1f59.7b46","mydb":"e4ae3a05.9da458","name":"","x":1380,"y":640,"wires":[["28e9fb7.0b95604"]]},{"id":"93006be0.7228d8","type":"http response","z":"7ddb1f59.7b46","name":"","statusCode":"200","headers":{"Status":"200 OK"},"x":1780,"y":640,"wires":[]},{"id":"28e9fb7.0b95604","type":"function","z":"7ddb1f59.7b46","name":"Set payload to null","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":640,"wires":[["93006be0.7228d8"]]},{"id":"750fa693.8edaf8","type":"inject","z":"185c47b.27ac3b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"consumo\",\"start_date\":1621604695,\"end_date\":1621604700}","payloadType":"json","x":210,"y":1160,"wires":[["33cff9ff.1be4b6"]]},{"id":"33cff9ff.1be4b6","type":"http request","z":"185c47b.27ac3b8","name":"Uploaded data GET","method":"GET","ret":"txt","paytoqs":"query","url":"http://localhost:1880/uploaded_data","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":1160,"wires":[["88700362.57d7e"]]},{"id":"afe75aa6.475828","type":"comment","z":"185c47b.27ac3b8","name":"Get uploaded data","info":"","x":250,"y":1120,"wires":[]},{"id":"78d01baf.d0a124","type":"http in","z":"7ddb1f59.7b46","name":"/uploaded_data GET","url":"/uploaded_data","method":"get","upload":false,"swaggerDoc":"","x":370,"y":700,"wires":[["74f85c38.de0024"]]},{"id":"74f85c38.de0024","type":"json","z":"7ddb1f59.7b46","name":"Convert request to object","property":"payload","action":"obj","pretty":false,"x":610,"y":700,"wires":[["9e8a005c.21154"]]},{"id":"9e8a005c.21154","type":"function","z":"7ddb1f59.7b46","name":"Query","func":"msg.topic = \"SELECT * FROM \" + msg.payload.name + \" WHERE date >= \" + msg.payload.start_date + \" AND date <= \" + msg.payload.end_date + \";\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":700,"wires":[["5e9292a4.9ddd6c"]]},{"id":"5e9292a4.9ddd6c","type":"mysql","z":"7ddb1f59.7b46","mydb":"e4ae3a05.9da458","name":"","x":980,"y":700,"wires":[["68f15c60.afad74"]]},{"id":"88700362.57d7e","type":"debug","z":"185c47b.27ac3b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":1160,"wires":[]},{"id":"68f15c60.afad74","type":"http response","z":"7ddb1f59.7b46","name":"","statusCode":"200","headers":{"Status":"200 OK"},"x":1160,"y":700,"wires":[]},{"id":"f0f11098.d4fc2","type":"http request","z":"185c47b.27ac3b8","name":"Send POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/command","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1260,"wires":[[]]},{"id":"a32cce02.c2b1e","type":"inject","z":"185c47b.27ac3b8","name":"inject","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"actuatorId\":\"4\",     \"message\":\"ON\" }","payloadType":"json","x":210,"y":1260,"wires":[["f0f11098.d4fc2"]]},{"id":"6db1207d.6bfd2","type":"comment","z":"185c47b.27ac3b8","name":"Activate actuator 4","info":"","x":250,"y":1220,"wires":[]},{"id":"a58d5d6a.e0eb7","type":"serial in","z":"4bc74ed8.4249c","name":"","serial":"518d43d3.17ac4c","x":460,"y":280,"wires":[["da23ae05.55781"]]},{"id":"da23ae05.55781","type":"json","z":"4bc74ed8.4249c","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":280,"wires":[["52f39a87.7f1c34"]]},{"id":"52f39a87.7f1c34","type":"switch","z":"4bc74ed8.4249c","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"get_credentials","vt":"str"},{"t":"eq","v":"\"register_peripheral\"","vt":"str"},{"t":"eq","v":"\"relay_message\"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":800,"y":280,"wires":[["4d6f9035.81d7d"],["f54305ab.7524a8"],["6636602b.f1be4"]]},{"id":"4d6f9035.81d7d","type":"function","z":"4bc74ed8.4249c","name":"","func":"msg.topic = \"SELECT * FROM credentials WHERE network = 'mesh' \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":180,"wires":[["900e7997.7bd258"]]},{"id":"900e7997.7bd258","type":"mysql","z":"4bc74ed8.4249c","mydb":"bc692b37.35d268","name":"","x":1230,"y":180,"wires":[["f19e0e.c87bb1f"]]},{"id":"f19e0e.c87bb1f","type":"function","z":"4bc74ed8.4249c","name":"","func":"msg.payload = msg.payload[0].value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":180,"wires":[["1b674f31.97c9f1"]]},{"id":"6636602b.f1be4","type":"function","z":"4bc74ed8.4249c","name":"","func":"msg.topic = msg.payload.payload.topic\nmsg.payload = msg.payload.payload.message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":380,"wires":[["613b85f7.3cafdc"]]},{"id":"613b85f7.3cafdc","type":"mqtt out","z":"4bc74ed8.4249c","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9619cd24.5f6e3","x":1230,"y":380,"wires":[]},{"id":"a9a43454.b25a98","type":"tcp request","z":"4bc74ed8.4249c","server":"localhost","port":"4001","out":"time","splitc":"0","name":"","x":1510,"y":280,"wires":[["1b674f31.97c9f1"]]},{"id":"e050f5b5.16a7d8","type":"json","z":"4bc74ed8.4249c","name":"","property":"payload.data","action":"str","pretty":false,"x":1190,"y":280,"wires":[["3c398897.8a55a8"]]},{"id":"1b674f31.97c9f1","type":"serial out","z":"4bc74ed8.4249c","name":"","serial":"518d43d3.17ac4c","x":1740,"y":280,"wires":[]},{"id":"903383e4.b2a21","type":"function","z":"1ca6f45d.30fc3c","name":"","func":"flow.set('data', msg.payload);\nmsg.topic = \"SELECT * FROM peripherals WHERE mac_address = '\" + msg.payload.mac_address + \"';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":280,"wires":[["58212720.4d3db8"]]},{"id":"58212720.4d3db8","type":"mysql","z":"1ca6f45d.30fc3c","mydb":"bc692b37.35d268","name":"","x":900,"y":280,"wires":[["49c49417.45979c"]]},{"id":"49c49417.45979c","type":"switch","z":"1ca6f45d.30fc3c","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":280,"wires":[["7aba87d1.55d728"],["d5b771a1.4fce4"]]},{"id":"d5b771a1.4fce4","type":"function","z":"1ca6f45d.30fc3c","name":"","func":"msg.payload = msg.payload[0].peripheralID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":380,"wires":[["5e1139b0.d70818"]]},{"id":"f54305ab.7524a8","type":"function","z":"4bc74ed8.4249c","name":"","func":"msg.payload.data.is_mesh = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":280,"wires":[["e050f5b5.16a7d8"]]},{"id":"4f8a59e9.b0efe8","type":"debug","z":"1ca6f45d.30fc3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":200,"wires":[]},{"id":"3c398897.8a55a8","type":"function","z":"4bc74ed8.4249c","name":"","func":"msg.payload = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":280,"wires":[["a9a43454.b25a98"]]},{"id":"940ed8a8.d238e8","type":"mqtt in","z":"4bc74ed8.4249c","name":"","topic":"/command/+/+/","qos":"2","datatype":"auto","broker":"9619cd24.5f6e3","nl":false,"rap":true,"rh":0,"x":500,"y":580,"wires":[["88112426.630e38"]]},{"id":"eea3e4c.73b3f18","type":"mysql","z":"4bc74ed8.4249c","mydb":"bc692b37.35d268","name":"","x":870,"y":580,"wires":[["ff67d4f.c412928"]]},{"id":"88112426.630e38","type":"function","z":"4bc74ed8.4249c","name":"Prepare query","func":"msg.topic = msg.topic.split('/')\nvar peripheralID = msg.topic[2]\n\nmsg.topic = \"SELECT * FROM peripherals WHERE peripheralID = \" + peripheralID + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":580,"wires":[["eea3e4c.73b3f18"]]},{"id":"ff67d4f.c412928","type":"debug","z":"4bc74ed8.4249c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":580,"wires":[]},{"id":"2de4ee90.9c2372","type":"comment","z":"4bc74ed8.4249c","name":"IF command is to mesh device, send via uart","info":"","x":700,"y":520,"wires":[]}]